body {
    font-family: 'Calibri', sans-serif;
    background-color: black;
/*    background-image: url("banner.jpg");*/
    background-position: center bottom;
    background-repeat: no-repeat;
}

.centered {
    text-align: center;
}

.status {
    position: absolute;
    top: 5px;
    left: 5px;
    font-style: normal;
    color: lightgrey;
}

.status-indicator {
    color: green;
}

.header {
    text-align: center;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid darkgrey;
    color: gold;
    background-color: #303030;
}
.title {
    font-size: 30px;
}

.subtitle {
    padding-top: 5px;
    font-size: 15px;
}

.content {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

.module {
    margin: 0 auto;
    width: 25%;
    border: 1px solid white;
}

.module-title {
    border-bottom: 1px solid white;
}

.explorer {
    text-align: center;
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
}

.dataform {
    background-color: white;
    border-top: 1px solid black;
    
}

.align-left {
    text-align: left;
}

.form-col {
    width: 33%;
    float: left;
    text-align: left;
}