body {
    background-color: black;
    background-image: url("banner.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
}

.centered {
    text-align: center;
}

.status {
    font-style: normal;
    color: lightgrey;
}

.status-indicator {
    color: green;
}

.header {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: lightgray;
    text-align: center;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid darkgrey;
    color: gold;
    background-color: #303030;
}

.header-title {}

.header-subtitle {
    font-style: italic;
    padding-top: 5px;
    font-size: 15px;
}

.block1 {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.body-col {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
}

.module {
    margin: 0 auto;
    width: 25%;
    border: 1px solid white;
}

.module-title {
    border-bottom: 1px solid white;
}

.explorer {
    text-align: center;
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
}