.centered {
    text-align: center;
}

.server-status {
    font-style: italic;
    color: green;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float: none;
}