<div style="text-align:left" class=module>
    <div class=row>
        <div class=col-md-6>Languages I've coded in
            <ul>
                <li>Bash</li>
                <li>Batch</li>
                <li>C</li>
                <li>C++</li>
                <li>CSS3/SASS</li>
                <li>Go</li>
                <li>HTML5 & Jade/Pug</li>
                <li>Java</li>
                <li>JavaScript & CoffeeScript</li>
                <li>LaTeX</li>
                <li>M68HC11 (CPU12)</li>
                <li>MATLAB</li>
                <li>MIPS</li>
                <li>Objective C</li>
                <li>Python</li>
                <li>PHP</li>
                <li>R</li>
                <li>Ruby</li>
                <li>SQL</li>
                <li>Swift</li>
                <li>Verilog</li>
                <li>VHDL</li>
            </ul>
        </div>
        <div class=col-md-6>Languages I'm good at coding in
            <ul>
                <li>HTML</li>
                <li>(Look at this page, this kid thinks he's good at HTML???)</li>
            </ul>
        </div>
    </div>
</div>